
  <section id="add" class="container">
    <div class="form-wrap">
      <h1>Add Event</h1>
      <p>Add tasks and things to do to your bucket list</p>
      <form class="form" action="/add" method="POST">
        <div class="input-group">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" class="input-box" placeholder="eg. Visit Machu Pichu"
            maxlength="100" required>
        </div>
        <div class="input-group">
          <label for="invitees">Invitees</label>
          <input type="text" name="invitees" id="invitees" class="input-box" placeholder="johndoe@abc.com, janedoe@xyz.com"
          maxlength="100">
        </div>
        <div class="input-group">
          <label for="budget">Deadline</label>
          <input type="date" name="deadline" id="date" class="input-box" value="2020-11-26">
        </div>
        <div class="input-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" class="input-box" placeholder="Describe the details of the event"
            rows="10" required></textarea>
        </div>
        <input type="submit" value="Add event" class="btn btn-reverse">
      </form>
    </div>
  </section>