<section class="login">
    <form class="form" action= "/auth/login" method="POST">
        <div class = "form-group">
            <label for = "email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="hello@world.com" name="email" required>
        </div>
        <div class = "form-group"> 
            <label for = "password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder='keyboard cat' required>
        </div>
        <button type="submit" class="btn btn-default btn-success">
            Login
        </button>
    </form>    
</section>